@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
      font-family: 'poppins', system-ui, sans-serif;
      font-size: 62.5%;
      overflow-x: hidden;
    }
    .navbar a{
      position: relative;
      font-size: 1.7rem;
      color: #fff;
      font-weight: 500;
      margin-right: 3.5rem;
    }
    .navbar a.active::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 0.2rem;
      background: #fff;
    }
    .home .profession-box .profession:nth-child(1) i{
      margin-right: 15px;
    }
    .home .profession-box .profession:nth-child(2),
    .home .profession-box .profession:nth-child(4){
      padding-bottom: 20px;
    }
    .overlay{
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 384px solid var(--main-color);
      border-right: 384px solid var(--main-color);
      border-bottom: 384px solid var(--main-color);
      border-left: 384px solid red;
    }
}